# Indica que este é o arquivo de configuração raiz
root = true

# Aplicável a todos os arquivos
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown (não remove espaços ao final de linhas)
[*.md]
trim_trailing_whitespace = false

# JSON, YAML, TypeScript, JavaScript e JSX/TSX
[*.{js,jsx,ts,tsx,json,yml,yaml}]
indent_size = 2
